.statistics {
    width: 100%;
    max-width: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(73, 58, 144), 2px 2px 2px rgb(73, 58, 144), 4px 4px 4px rgb(73, 58, 144);
  }
  .title {
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: rgb(73, 58, 144);
    text-transform: uppercase;
    text-align: center;
  }
  .stat-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
  
  .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    padding: 15px;
    color: white;
    background-color: rgb(36, 36, 202);
  }
  .item0 {
    composes: item;
    background-color: rgb(0, 132, 255);
  }
  .item1 {
    composes: item;
    background-color: rgb(177, 130, 238);
  }
  .item2 {
    composes: item;
    background-color: rgb(255, 115, 0);
  }
  .item:first-child{
    border-radius: 0 0 0 10px;
  }
  .item:last-child{
    border-radius: 0 0 10px 0;
  }
  .label {
    font-size: 12px;
  }